@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,700,800");

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body{
  overflow-x: hidden;
}
.dark{
  background-color: #121212;
}
body::-webkit-scrollbar {
  width: 10px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.484);
  border-radius: 10px;
}

.fontDosis {
  font-family: 'Dosis', sans-serif, 
               'Helvetica Neue', sans-serif,
               'Arial', sans-serif;
}

.strikeThru{
  content: "";
  border-bottom: 3px solid #ffbb39;
  @apply absolute w-full top-[43%] left-0
}